[submodule "datasets"]
	path = datasets
	url = git@github.com:yoyololicon/pytorch-wav-datasets.git
[submodule "models/audiotensor"]
	path = models/audiotensor
	url = git@github.com:yoyololicon/audiotensor.git
[submodule "models/lru"]
	path = models/lru
	url = git@github.com:yoyololicon/torchlru.git
