*.pyc
*.bak
.ipynb_checkpoints/
lightning_logs/
best_ckpts/
home_ckpts/
for_comparison/
mos_data/
zips/
legacy/
wandb/
sf-golf/
lpcnet/
.vscode/
m4-comparison/
vctk-comparison/
vctk-ae/
interspeech_listening_test/
*.pt